
.navbar {
    margin-top: 16px;
}


.meatOfPage {
    margin-top: 45px;
    box-sizing: border-box;
}

.wordPhoneticsPlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.phonetics {

color: #A445ED;
}

.groupSections {
    margin-top: 40px;
}

.partOfSpeechHeader {
    display: flex;
    gap: 20px;
    align-items: center;
}

.partOfSpeechHeader div, .finalDivider {
    width: 100%;
    height: 2px
}

.partOfSpeechBody {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.partOfSpeechMeaning {
    color: #757575;
}

.partsOfSpeechList {
    padding: 25px 20px 0 22px;
}

.whereFrom {
    margin-top: 20px;
}

.whereFrom .externalLinkDiv a {
    cursor: pointer;

}

.externalLinkDiv {
    display: flex;
    gap: 10px;
    align-items: center;
}